body{
    background-color:aliceblue;
}
#box{
    height: 150px;
    width: 150px;
    background-color: crimson;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 20%;
    padding-top: 20px;
}

/* #clickMe{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
} */

.content{
    color: red;
}

.newClass{
    background-color: green;
}