div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: aliceblue;
    margin: 50px;
    border-radius: 20px;
    padding: 10px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

